.elgato-logo-fp {
	padding-top: 17px;
}

.msi-logo-fp {
	padding-top: 17px;
}


div.episode div.meta p em {
	visibility: hidden;
}

div.episode h3.episode_name span {
	visibility: hidden;
}

div.episode h3.episode_name span:before{
	content: "Metro Esport - \"Gabbie\"";
	visibility: visible;
}


div.episode div.description {
	display: none;
}


@media (min-width: 992px) {
	.col-md-offset-1-and-half {
		margin-left: 12.499999995%; // col-md-offset-1 has 8.33333333
		// so you multiply 8.33333333 * 1.5 = 12.499999995%
	}
}


@media (min-width: 767px) {
	.col-sm-offset-1-and-half {
		margin-left: 12.499999995%; // col-md-offset-1 has 8.33333333
		// so you multiply 8.33333333 * 1.5 = 12.499999995%
	}
}

@media (max-width: 766px) {
	.col-xs-offset-1-and-half {
		margin-left: 12.499999995%; // col-md-offset-1 has 8.33333333
		// so you multiply 8.33333333 * 1.5 = 12.499999995%
	}
}

.img-partners {
	display: block;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	max-width: 80%;
}


.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 363px;
}

.navbar-collapse.in {
	overflow-y: visible;
}

.navbar-collapse.collapsing {
	overflow-y: visible;
	max-height: 363px;
}


.intrinsic-container {
	position: relative;
	height: 0;
	overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
	padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
	padding-bottom: 75%;
}
	   
.intrinsic-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}



.fp-logos {
	margin-top: 50px;
	margin-bottom: 10px;	
	height: 65px;
}


html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	/*height: 60px;*/
	/*background-color: #f5f5f5;*/
}




@media (max-width: 991px) {
	.img-save-the-children {
		margin: 0 auto;
		height: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		clip: rect(0px, 140px, 140px, 0px);
		max-width: 100%;
	}

}

@media (min-width: 992px) {
	.img-save-the-children {
		/*width:480px;*/
		max-width: 100%;
		height:auto;
		clip: rect(0px, 140px, 140px, 0px);
	}
}
























.vertical-align {
	display: flex;
	align-items: center;
}


.partner-box {
	border: 2px solid #f59409;
	background-color: rgba(0, 0, 0, 0.6);
	height: 20vh;
}


.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	top: 2px;
	text-align: center;
	margin: auto;
	height: 0;
	padding: 0;
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
}

.navbar-brand > img {
	padding: 0px 0px 5px 0px;
	display: inline-block;
	margin:auto;
}
@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: -15px;
	}
}

@media (max-width: 425px) {
	.navbar-brand > img {
		width: 200px;
	}
	.navbar-brand {
		top: 7px;
		left: -40px;
	}
}

.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
	border-left-color: #111111;
}

@media (max-width: 767px) {
	.navbar-collapse {
		padding-top: 40px;
	}
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	max-width: 1000px;
	margin: 0 auto;
}

















































































.img-responsive {
	max-width: 100%;
	display: inline-block;
}

.img-front-page {
	padding-right: 0 !important;
}

.fa-youtube {
	/*color: #CD201F;*/
}

.fa-twitch {
	/*color: #6441a4;*/
}

.fa-twitter {
	/*color: #0084b4;*/
}

.fa-instagram {
	/*color: #f4ba00;*/
}

.fa-facebook {
	/*color: #3b5998;*/
}

.row-front-page {
	/*border: 1px solid #000;*/
}

.row-about-page h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

.row-about-page {
	/*border: 1px solid #000;*/
	/*
	border-color: rgb(245, 148, 9);
	border-style: solid;
	border-width: 2px;
	box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.6);
	*/

}

.twitch-button {
	color: #fff;
	background-color: #6441a4;
	border-color: #6441a4;
	padding: 1rem 2rem;
}

.twitch-button:hover, .twitch-button:focus {
	color: #fff;
	background-color: #4e3183;
	border-color: #4e3183;
}

.youtube-button {
	color: #fff;
	background-color: #CD201F;
	border-color: #CD201F;
	padding: 1rem 2rem;
}

.youtube-button:hover, .youtube-button:focus {
	color: #fff;
	background-color: #a11a19;
	border-color: #a11a19;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #555;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 600; }

a, a:hover, a:focus {
	/*color: #8c9df0;*/
	color: #f59409;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
        font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	font-size: 50px;
	font-weight: 600;
	color: #000;
	line-height: 50px;
}

h3 {
        font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #000;
	line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 17px;
	line-height: 32px;
}

.colored-text { color: #8c9df0; }

::-moz-selection { background: #8c9df0; color: #fff; text-shadow: none; }
::selection { background: #8c9df0; color: #fff; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../img/loading.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
        font-family: 'Montserrat', sans-serif;
	font-style: normal;
	margin: 0 auto;
	padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #252525;
	/*background: #d9e0f7;*/
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 40px 0 40px;
	
	background: #8c9df0; /* Old browsers */
	background: -moz-linear-gradient(top,  #8bb9ef 0%, #8c9df0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bb9ef), color-stop(100%,#8c9df0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8bb9ef 0%,#8c9df0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bb9ef', endColorstr='#8c9df0',GradientType=0 ); /* IE6-9 */
	
	border: 0;
	
	font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
	background: #8c9df0; /* Old browsers */
	background: -moz-linear-gradient(top,  #8bb9ef 0%, #8c9df0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bb9ef), color-stop(100%,#8c9df0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8bb9ef 0%,#8c9df0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bb9ef', endColorstr='#8c9df0',GradientType=0 ); /* IE6-9 */
	
	outline: 0;
	opacity: 0.6;
	color: #fff;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 40px 0 40px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	border: 0;
	font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.reach-section {
	padding-top: calc(100vh - 330px);
        font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	background-color:rgba(0, 0, 0, 0.0);
	color: #fff;
	font-weight: bold;
}

.reach-section h2 {
	color: #fff;
	font-style: normal;
}

.reach-box:hover {
	/*transform: translateY(-15px);*/
	transform: scale(1.1, 1.1);
	background-color: rgba(0, 0, 0, 0.8);
}

@media all and (max-width: 319px) { .reach-box h2 { font-size: 20px; } } 
@media all and (min-width: 320px) {  .reach-box h2 { font-size:25px;  } }
@media all and (min-width: 768px) {  .reach-box h2 { font-size:30px;  } }
@media all and (min-width: 992px ) {  .reach-box h2 { font-size:40px;  } }
@media all and (min-width: 1200px) {  .reach-box h2 { font-size:50px;  } }

@media all and (max-width: 319px) { .reach-box p { font-size: 15px; } } 
@media all and (min-width: 320px) {  .reach-box p { font-size:15px;  } }
@media all and (min-width: 768px) {  .reach-box p { font-size:15px;  } }
@media all and (min-width: 992px) {  .reach-box p { font-size:20px;  } }
@media all and (min-width: 1200px) {  .reach-box p { font-size:25px;  } }



@media (max-width: 767px) {
	.reach-box {
		padding-bottom: 0 !important;
	}
	.reach-box h2 {
		margin: 0 !important;
	}

	.reach-box p {
		margin: 0 !important;
	}

	.reach-section {
		padding-top: calc(100vh - 330px);
	}

	.fp-logos {
		margin-bottom: 0;
		margin-top: 20px;
		max-height: 50px;
	}
}

.reach-box {
	margin-top: 15px;
	background-color:rgba(0, 0, 0, 0.6);
	padding-bottom: 10px;
	/*margin-top: 0;*/
	border: 1px solid #000;
	/*border-style: outset;*/
	/*border-color: #ea9317;*/
	height: 100%;
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.6);
	transition: all .4s ease-in-out;
}

.reach-box h2 {
	margin-top: 25px;
}

.twitch-box p {
	color: #6441a4;
}

.twitter-box p {
	color: #0084b4;
}

.youtube-box p {
	color: #CD201F;
}

.instagram-box p {
	color: #f4ba00;
}

/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dotted #aaa;
}


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	background: rgba(37, 37, 37, 0.9);
	/*border-bottom: 2px solid #f59409;*/
	border-bottom: 2px solid #fff;
	/*border: 0;*/
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	box-shadow: -4px 14px 60px -6px #000;
}

.logo-navbar-middle {
	vertical-align: 25px;
}

.navbar-link {
        font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #f59409;
}

.navbar-fixed-top { position: absolute!important; }

.navbar-nav > li > a{
	padding: 20px;
}

.navbar-nav > li {
	/*float: none;*/
	vertical-align: middle;
}

.navbar-nav > li > a > img {
	vertical-align: 20px;
}

#site-logo {
	position: relative;
	vertical-align: bottom;
	bottom: -40px;
}

#site-logo a {
	margin-top: -53px;
}

.navbar.navbar-no-bg { 
	background: #444;
	/*background: rgba(37, 37, 37, 0.2);*/
	background: rgba(0, 0, 0, 0.6);
	border-bottom: 3px solid #f59409;
}

.navbar-right { margin-right: 0; }

@media (max-width: 767px) {
	.navbar-right { margin-right: -15px; }
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

#about h3,
#setup h3 {
	margin-top: 0;
}
/*
#about .navbar-default .navbar-nav > li > a.about,
#subscribers .navbar-default .navbar-nav > li > a.subscribers,
#setup .navbar-default .navbar-nav > li > a.setup,
#partners .navbar-default .navbar-nav > li > a.partners {
	color: ;
} */

ul.navbar-nav {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.navbar-inverse ul.navbar-nav li a {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	/*color: #9d9d9d;*/
	opacity: 0.8;
}
.navbar-inverse ul.navbar-nav li a:hover { color: #000; opacity: 1; }
.navbar-inverse ul.navbar-nav li a:focus { color: #000; outline: 0; opacity: 1; }

.navbar-text a {
	margin: 0 8px;
	font-size: 26px;
	color: #fff;
	/*color: #9d9d9d;*/
	line-height: 28px;
	opacity: 0.8;
}
.navbar-text a:hover { opacity: 1; }

.navbar-toggle {
	margin-top: 13px;
	margin-bottom: 13px;
}


/***** Top content *****/

.inner-bg {
    /*background: linear-gradient(45deg,rgba(2, 57, 129,.4),rgba(4, 83, 186,.4));*/
	/*background: linear-gradient(0deg,
					rgba(255, 255, 255, 1.00) 0%,
					rgba(0, 0, 0, 0) 10%
				);*/
	padding: 30px 0;
}

.top-content {
	box-shadow: 0px 8px 20px 4px;
	min-height: 100vh;
}

.top-content .text {
	top: 300px;
	color: #fff;
}

.top-content .followers {
	font-size: 150%;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	top: -200px;
	color: #000;
	/*color: #afbfde;*/
	/*position: fixed;*/
}

.top-content .followers h2 {
	font-size: 170%;
	color: #000;
}

.top-content .text .logo {
	padding-bottom: 20px;
}

.top-content .text .logo a {
	display: inline-block;
	width: 130px;
	height: 69px;
	background: url(../img/logo.png) center center no-repeat;
}

.top-content .text h1 {
        /*font-family: 'Righteous', sans-serif;*/
        font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 600%;
	margin-top: 25px;
	color: #FFF;
}

.top-content .text h2 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 410%;
	margin-top: 30px;
	/*color: #afbfde;*/
	color: #ea9317;
	text-shadow: -1px 0 #252525, 0 1px #252525, 1px 0 #252525, 0 -1px #252525;
}

.top-content .description {
	text-shadow: -1px 0 #ea9317, 0 1px #ea9317, 1px 0 #ea9317, 0 -1px #ea9317;
	font-family: 'Roboto', sans-serif;
	font-size: 235%;
	margin: 10px 0 10px 0;
	/*color: #afbfde;*/
	color: #252525;
}

.top-content .description p { opacity: 1.0; }

.top-content .top-big-link {
	margin-top: 45px;
}


/***** Services *****/

.services-box {
	padding-top: 30px;
	text-align: left;
}

.services-box .services-box-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	
	background: #8c9df0; /* Old browsers */
	background: -moz-linear-gradient(top,  #8bb9ef 0%, #8c9df0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bb9ef), color-stop(100%,#8c9df0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8bb9ef 0%,#8c9df0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bb9ef', endColorstr='#8c9df0',GradientType=0 ); /* IE6-9 */

    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.services-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Great support *****/

.great-support-container {
	padding-bottom: 0;
	/*overflow: hidden;*/
}

.great-support-box {
	margin-top: 30px;
	/*margin-bottom: 70px;*/
	margin-bottom: 35px;
}

@media (max-width: 1199px) {
	.great-support-box {
		margin-top: 30px;
		margin-bottom: 35px;
	}
}

.great-support-box-text {
	margin-top: 40px;
	padding-left: 30px;
	overflow: hidden;
	text-align: left;
}
.great-support-box-text:first-child { margin-top: 0; }

.great-support-box-text-left {
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

.great-support-box-text h3 {
	margin-top: 0;
}

.great-support-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}

.great-support-box-phone {
	margin-bottom: 0;
}

.great-support-box-phone img {
	/*	margin-bottom: -300px;	*/
	padding-bottom: 120px;
	width: 100%;
}

@media (max-width: 880px) {
	body {
		margin-bottom: 200px;
	}
}

@media (max-width: 767px) {
	body {
		margin-bottom: 250px;
	}
}


/***** More services *****/

.more-services-box {
	/*margin-top: 30px;*/
	text-align: left;
}

.more-services-box .more-services-box-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	
	background: #8c9df0; /* Old browsers */
	background: -moz-linear-gradient(top,  #8bb9ef 0%, #8c9df0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bb9ef), color-stop(100%,#8c9df0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8bb9ef 0%,#8c9df0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bb9ef', endColorstr='#8c9df0',GradientType=0 ); /* IE6-9 */
	
    font-size: 32px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.more-services-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Call to action *****/

.call-to-action-container .section-bottom-button {
	padding-top: 30px;
}


/***** Portfolio *****/

.portfolio-box {
	padding-top: 30px;
	text-align: left;
}

.portfolio-box-image {
	overflow: hidden;
}

.portfolio-box-image img {
	-o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
}

.portfolio-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.portfolio-box h3 {
	margin-top: 30px;
}
.portfolio-box h3 a { color: #555; }
.portfolio-box h3 a:hover, .portfolio-box h3 a:focus { color: #8c9df0; }

.portfolio-box h3 i {
	padding-left: 10px;
	color: #ccc;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.portfolio-box h3:hover i { padding-left: 15px; }

.portfolio-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.portfolio-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.portfolio-container .section-bottom-button {
	padding-top: 40px;
}


/***** Testimonials *****/

.testimonials-container {
	padding-bottom: 70px;
}

.testimonial-list {
    margin-top: 30px;
    text-align: center;
}

.testimonial-list .testimonial-image img {
	max-width: 160px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .testimonial-text {
	margin-top: 30px;
	opacity: 0.8;
}

.testimonial-list .testimonial-text a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.testimonial-list .testimonial-text a:hover, 
.testimonial-list .testimonial-text a:focus { color: #fff; border: 0; }

.testimonial-list .nav-tabs {
	margin-top: 30px;
    border: 0;
}

.testimonial-list .nav-tabs li {
	float: none;
	display: inline-block;
	margin-left: 7px;
    margin-right: 7px;
}

.testimonial-list .nav-tabs li a {
    width: 16px;
    height: 16px;
    padding: 0;
    background: none;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover {
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li.active a,
.testimonial-list .nav-tabs li.active a:focus {
	background: #8c9df0; /* Old browsers */
	background: -moz-linear-gradient(top,  #8bb9ef 0%, #8c9df0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bb9ef), color-stop(100%,#8c9df0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8bb9ef 0%,#8c9df0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8bb9ef 0%,#8c9df0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bb9ef', endColorstr='#8c9df0',GradientType=0 ); /* IE6-9 */
	
	border: 0;
}


/***** Blog *****/

.blog-box {
	margin-top: 30px;
	text-align: left;
}

.blog-box-image {
	margin-top: 8px;
	overflow: hidden;
}

.blog-box-image img {
	-o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
}

.blog-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.blog-box h3 {
	margin-top: 0;
}
.blog-box h3 a { color: #555; }
.blog-box h3 a:hover, .blog-box h3 a:focus { color: #8c9df0; }

.blog-box h3 i {
	padding-left: 10px;
	color: #ccc;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.blog-box h3:hover i { padding-left: 15px; }

.blog-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.blog-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.blog-container .section-bottom-button {
	padding-top: 40px;
}


/***** Footer *****/

footer {
	padding: 40px 0 0 0;
	background: #444;
	color: #aaa;
	text-align: left;
}

footer h3 {
	color: #aaa;
}

.contact-form {
	padding-top: 20px;
}

.contact-form textarea {
	height: 100px;
}

.contact-form .input-error {
	border-color: #8c9df0;
}

.footer-social {
	padding-top: 20px;
}

.footer-social a {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 6px;
	margin-bottom: 10px;
	padding-top: 7px;
	background: #666;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 32px;
    color: #ddd;
    line-height: 40px;
    text-align: center;
}
.footer-social a:hover, .footer-social a:focus { background: #777; color: #eee; }

.footer-social a i { vertical-align: middle; }

.footer-copyright {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px dotted #777;
}

.footer-copyright a { color: #ddd; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #eee; }

.footer-bottom {
	margin-top: 60px;
	padding-top: 15px;
	padding-bottom: 25px;
	background: #3d3d3d;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #666;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }
