.tabs {
	background-color: #0d0d0e;
	border-radius: 5px;
	z-index: 1;
}

.tabs .tab a {
	color: rgba(246, 147, 60, 0.7);	
	text-decoration: none;
	font-weight: 400;
}

.tabs .tab a:hover {
	color: rgba(246, 147, 60, 1);	
	text-decoration: none;
	font-weight: 400;
}

.tabs .tab a.active {
	color: rgba(246, 147, 60, 1);	
	text-decoration: none;
	font-weight: 600;
}

.tabs .indicator {
	background-color: rgba(246, 147, 60, 1);
	margin-bottom: 0;
	height: 4px;
}

.scheduleTime {
	opacity: 0.5;
	font-size: small;
}

.tabsPadding {
	padding-top: 1% !important;
}

/*::-webkit-scrollbar { 
    display: none; 
}*/

.rlcopyright {
	font-size: 10px;
	text-align: center;
	opacity: 0.5;
	line-height: 10px;
	margin-top: 20px;
}